@font-face {
    font-family: Scriptin;
    src: url("../fonts/SCRIPTIN.ttf") format('truetype');
}

@font-face {
    font-family: khand;
    src: url("../fonts/Route Du Soleil DEMO.otf") format('truetype');
}

@font-face {
    font-family: Antro;
    src: url("../fonts/Antro_Vectra.otf") format('opentype');
}

@font-face {
    font-family: Antro-B;
    src: url("../fonts/Antro_Vectra_Bolder.otf") format('opentype');
}

body {
    display: grid;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    grid-template-rows: [title] min-content 100vh [mus] 120vh [head2] 20vh [poem] 150vh [head3] 20vh [comp] 175vh [about] 100vh;
    grid-template-columns: 100vw;
}

.preloader {
    grid-row: title;
    height: 100vh;
    width: 100vw;
    display: block;
    position: fixed;
    background-color: rgba(63, 81, 181, 0.8);
    z-index: 99999;
}

.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    margin: 72px auto;
    position: relative;
    top: 35%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*_________________CUSTOM MADE ELEMENTS START______________*/
or {
    color: darkorange;
}

drk {
    color: #6679cc;
    font-size: 2vh;
}

/*_________________BACKGROUNDS SECTION STARTS______________*/
.backgrounds {
    width: 100%;
    height: 100%;
    position: fixed;
    transform: translateZ(0);
    z-index: -1;
}

.background {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    background-attachment: fixed;
    transition: all 1s ease-in-out;
}

.overlay::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #3F51B5;
    opacity: 0.6;
}

/*_________________BACKGROUNDS SECTION ENDS________________*/

/*_________________HERO SECTION STARTS_____________________*/
.hero {
    grid-row: title;
    grid-column: 1;
    text-align: center;
    display: grid;
    z-index: 999;
    position: fixed;
    /*background-color: rgba(63, 81, 181, 0);*/
    /*transition: all 0.4s ease-in-out;*/
}

.app-holder {
    grid-row: 1;
}

#app {
    font-family: Antro-B;
    word-spacing: 80vw;
    font-size: 18vw;
    color: #f5f0f0;
    /*transition: all 0.3s ease-in-out;*/
}

.link-holder {
    grid-row: 2;
    display: grid;
    grid-template-areas: ". link-1 . link-2 ." ". link-3 . link-4 .";
    min-width: 100vw;
}

ul, li {
    display: inline-block;
}

.link-1 {
    grid-area: link-1;
}

.link-2 {
    grid-area: link-2;
}

.link-3 {
    grid-area: link-3;
}

.link-4 {
    grid-area: link-4;
}

.link {
    font-family: Antro;
    color: #f5f0f0;
    font-size: 5vw;
    text-shadow: 2px 2px 8px #f5f0f0;
    text-align: center;
}

.link:hover {
    color: #f5f0f0;
    text-decoration: none;
    text-shadow: 2px 2px 2px #E5D4B7;
}

.link:active {
    border-bottom: #f5f0f0 2px solid;
}

.scr-ani {
    display: grid;
    grid-row: 3;
    grid-template-rows: [sctx] 5vh [arr] 10vh;
    text-align: center;
    padding-top: 3vh;
}

.jst-scr {
    grid-row: sctx;
    font-size: 2.8vh;
    color: rgba(200, 186, 186, 0.73);
    text-align: center;
    font-family: khand;
}

.chevron {
    position: relative;
    grid-row: arr;
    margin-bottom: 8px;
    height: 0.4vh;
    width: 5vw;
    left: 47.4vw;
    animation: ease-in-out 2.5s infinite pulse;
    opacity: 0.8;
}

.chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: darkorange;
    -webkit-transform: skew(0deg, 20deg);
    -moz-transform: skew(0deg, 20deg);
    -ms-transform: skew(0deg, 20deg);
    -o-transform: skew(0deg, 20deg);
    transform: skew(0deg, 20deg);
}

.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: darkorange;
    -webkit-transform: skew(0deg, -20deg);
    -moz-transform: skew(0deg, -20deg);
    -ms-transform: skew(0deg, -20deg);
    -o-transform: skew(0deg, -20deg);
    transform: skew(0deg, -20deg);
}

@keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.hero-shrink {
    z-index: 9999;
    top: 0;
    position: fixed;
}

.link-holder-shrink {
    grid-row: links;
    display: grid;
    grid-template-rows: 5vh [link] 5vh;
}

.scr-ani-shrink {
    display: none;
}

.jst-scr-shrink {
    display: none;
}

.chevron-shrink {
    display: none;
}

/*_________________HERO SECTION OVER______________*/
/*_________________MUSING PAGE STARTS______________*/

.musing {
    grid-row: mus;
    display: grid;
    grid-template-rows: [mus_1] 60vh [mus_2] 60vh;

}

.ms1-br {
    grid-row: mus_1;
    margin: 5vh;
    background-color: #f5f0f0;
    padding: 1.5vh;
    overflow: hidden;
}

.musing1 {
    margin: 0;
    height: 100%;
    background-color: #202746;
    padding: 2vh;
    word-wrap: break-word;
}

.ms1 {
    height: inherit;
    width: inherit;
    font-size: 3vh;
    font-family: khand;
}

.ms2-br {
    grid-row: mus_2;
    margin: 5vh;
    background-color: #f5f0f0;
    padding: 1.5vh;
    overflow: hidden;
}

.musing2 {
    margin: 0;
    height: 100%;
    background-color: #202746;
    word-wrap: break-word;
    padding: 0.5vh;
}

.ms2 {
    height: inherit;
    width: inherit;
    font-size: 3vh;
    font-family: khand;
}

/*_________________MUSING SECTION OVER______________*/

.head {
    font-family: Scriptin;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    color: #f5f0f0;
    font-size: 4vh;
    font-weight: normal;
    padding: 20px 0 40px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    clear: both;
}

/*_________________RHYM SECTION STARTS______________*/

.rhymes {
    grid-row: poem;
    display: grid;
    grid-template-rows: 75vh 75vh;
}

.rhymes1 {
    margin-bottom: 5vh;
    margin-right: 12vh;
    grid-row: 1;
    background-color: #f5f0f0;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.rh-title {
    font-size: 4vh;
    color: #6679cc;
}

.rh1 {
    font-family: khand;
    padding-right: 1vh;
    padding-left: 1vh;
    height: 100%;
    width: 100%;
    background-color: #202746;
    overflow-y: scroll;
    word-wrap: break-word;
    color: lightskyblue;
    font-size: 2.5vh;
}

.rhymes2 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 12vh;
    grid-row: 2;
    background-color: #f5f0f0;
    padding-left: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.rh2 {
    font-family: khand;
    padding-right: 1vh;
    padding-left: 1vh;
    height: 100%;
    width: 100%;
    background-color: #202746;
    overflow-y: scroll;
    word-wrap: break-word;
    color: lightskyblue;
    font-size: 2.5vh;
}

/*_________________RHYM SECTION OVER________________________*/
/*_________________COMPOSITIONS SECTION STARTS______________*/
.compositions {
    grid-row: comp;
    display: grid;
    grid-template-rows: 175vh;
}

.compositions1 {
    background-color: #f5f0f0;
    margin: 5vh;
    padding: 2vh;
}

.comp {
    font-family: khand;
    font-size: 3vh;
    background-color: #202746;
    color: #87cefa;
    text-align: center;
    padding-right: 1vh;
    padding-left: 1vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10vh 140vh 10vh;
}

.comp-title {
    grid-row: 1;
    font-size: 5vh;
    color: #6679cc;
}

.comp-content {
    grid-row: 2;
    overflow-y: scroll;
    word-wrap: break-word;
}

.comp-more {
    grid-row: 3;
    height: 100%;
    width: 100%;
    padding-top: 4vh;
    background-color: rgba(32, 39, 70, 0.9);
}

/*_________________COMPOSITIONS SECTION OVER________________*/
/*_________________ABOUT SECTION STARTS_____________________*/
.about {
    grid-row: about;
    margin: 0;
    overflow: hidden;
}

.about-data {
    display: grid;
    background-color: #202746;
    height: 100vh;
    width: 100vw;
    grid-template-rows: [abro] 20vh [abcnt] 70vh [bookmk] 10vh;
    grid-template-columns: 5vw repeat(9, 10vw) 5vw;
}

.abhe {
    grid-row: abro;
    grid-column: 3 / 10;
}

.ab-frame {
    grid-row: abcnt;
    grid-column: 2 / 11;
    margin-left: 7vw;
    margin-right: 7vw;
    height: 70vh;
    display: grid;
    grid-template-areas: "title" "img" "img" "auth";
    grid-template-rows: 15% 35% 35% 15%;
    padding-bottom: 4vh;
    overflow: hidden;
    border-left: #e8770d 8vw solid;
    background: #f6f6f6;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.7), 12px 12px rgba(255, 255, 255, 0.7);
}

.abimg {
    grid-area: img;
    width: 70vw;
    transform: scale(1.2);
}

.abTitle {
    color: #202746;
    grid-area: title;
    font-family: Antro-B;
    font-size: 3.5vh;
    padding-right: 3vh;
    padding-top: 2vh;
    text-align: right;
    z-index: 3;
}

.under {
    font-family: khand;
    font-size: 2vh;
    color: #202746;
}

.abAuth {
    grid-area: auth;
    color: #202746;
    font-family: Antro-B;
    font-size: 3.5vh;
    padding-right: 3vh;
    padding-top: 8vh;
    text-align: right;
    z-index: 3;
}

.bookmark {
    margin-top: 0;
    padding-top: 10%;
    margin-left: 8vw;
    grid-row: 3;
    grid-column: 2;
    background-color: #bf1805;
    height: 8vh;
    width: 10vw;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 49% 53%);
    text-align: center;
    display: flex;
    justify-content: center;
}

.bookmark-cover {
    height: 100%;
    width: 100%;
}

.bookmrk-img {
    height: 5vw;
}

/*_________________ABOUT SECTION OVER________________*/

/*_________________MANAGE PAGE STARTS________________*/
.mn-grid {
    display: grid;
    max-width: 100%;
    background-color: #f0f5f5;
    grid-template-areas: "header header" "muse1 muse1" "muse2 muse2 " "poem1 poem1 " "poem2 poem2 " "conte conte ";
    grid-template-rows: auto repeat(5, auto);
}

.blocker {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.login_form {
    text-align: center;
    position: relative;
    top: 45%;
    background-color: white;
    font-size: 1.5rem;
}

.logname {
    margin-left: 20vw;
    margin-bottom: 3vw;
}

.logpass {
    margin-left: 20vw;
    margin-bottom: 3vw;
}

#mntop {
    grid-area: header;
    text-align: center;
    display: block;
    height: fit-content;

}

#m1 {
    grid-area: muse1;
    text-align: center;
    display: block;
    height: 60vh

}

#m2 {
    grid-area: muse2;
    text-align: center;
    display: block;
    height: 60vh;

}

#p1 {
    grid-area: poem1;
    text-align: center;
    display: block;
    height: 100vh;

}

#p2 {
    grid-area: poem2;
    text-align: center;
    display: block;
    height: 100vh;

}

#c {
    grid-area: conte;
    text-align: center;
    display: block;
    height: 150vh;

}

.forms {
    display: grid;
    height: inherit;
    grid-template-areas: "desc desc desc . ." "title title title . ." " date date font font color " "txt txt txt txt txt" "align align but . .";
    grid-template-rows: 5vh 3vh 3vh auto 5vh;
    grid-template-columns: repeat(5, 17vw);
    grid-gap: 1vh;
    margin: 5vw;
}

.desc {
    text-align: left;
    grid-area: desc;
}

.heading {
    grid-area: title;
}

.font_size {
    width: 100%;
    grid-area: font;
}

.date {
    width: 100%;
    grid-area: date;
}

.color {
    width: 100%;
    height: 100%;
    grid-area: color;
}

.form-control {
    font-size: 1.5rem;
}

textarea {
    grid-area: txt;
}

.clk {
    height: 5vh;
    grid-area: but;
}

.align {
    grid-area: align;
    text-align: left;
    padding: 0;
}

.toasty {
    position: fixed;
    width: 15vw;
    left: 42.5vw;
    top: 50vh;
    opacity: 0;
}

/*_________________MANAGE PAGE OVER________________*/